.loginContainer{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.formGroup{
    margin-bottom: 15px;
}
input{
    width: 100%;
    padding: 10px;
    font-size: 16px; 
    border: 1px solid #ddd;
    border-radius: 10px;
    
}