nav {
  background-color: #f8f9fa;
  padding: 1em;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 1em;
  text-align: center;
}

nav ul li  {
  text-decoration: none;
  color: #007bff;
  text-align: center;
}

nav ul li a:hover {
  text-decoration: underline;
}


.mainNav{
  color: darkcyan;
  background-color: blanchedalmond;
  display: inline;
  font-size: large;
  font-style: normal;
  font-weight: bold;
  block-size: auto;
  display: inline-flexbox;
  text-align: left;
  
}
.kidimg{
  text-align: center;
  display: flex;

}
.mainul{
  text-align: center;
}

li{
  text-align: center;
}
.imagekid{
  text-align: center;
  
}
.kidbutton{
  background-color: rgb(226, 227, 158);
}

.kidWeb{

  
}

.background{
  background-color: antiquewhite;
  width: 100vw;
  height: 250vh;
}